<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbm.dao.mapper.ArticleMapper">
<!--    List<Article> selectHotArticle(int limit);-->
    <select id="selectHotArticle" parameterType="int" resultType="com.lbm.dao.entity.Article">
        SELECT
            id,title
        FROM
            ms_article
        ORDER BY view_counts desc
            LIMIT 0,#{limit}
    </select>
    <select id="getArchives" resultType="com.lbm.dao.dos.Archives">
        select
        year(FROM_UNIXTIME(create_date/1000)) year,month(FROM_UNIXTIME(create_date/1000)) month, count(*) count
        from
        ms_article
        group by
        year,month
        order by year desc,month desc

    </select>

    <resultMap id="articleMap" type="com.lbm.dao.entity.Article">
        <id column="id" property="id" />
        <result column="author_id" property="authorId"/>
        <result column="comment_counts" property="commentCounts"/>
        <result column="create_date" property="createDate"/>
        <result column="summary" property="summary"/>
        <result column="title" property="title"/>
        <result column="view_counts" property="viewCounts"/>
        <result column="weight" property="weight"/>
        <result column="body_id" property="bodyId"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>
<!--    IPage<Article> listArticle(
        Page<Article> page,
        Long tagId,
        Long categoryId,
        String year,
        String month);-->
    <select id="listArticle" resultType="com.lbm.dao.entity.Article">
        select * from ms_article
        <where>

            <if test="tagId != null">
                and id in (select article_id from ms_article_tag where tag_id =#{tagId})
            </if>
            <if test="categoryId != null">
                and category_id =#{categoryId}
            </if>
            <if test="year != null and year.length>0 and month !=null and month.length>0">
                and year(FROM_UNIXTIME(create_date/1000)) =#{year} and month(FROM_UNIXTIME(create_date/1000))=#{month}
            </if>
        </where>
        order by weight desc,create_date desc
    </select>
</mapper>