<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbm.api.dao.mapper.ArticleMapper">
<!--    List<Article> selectHotArticle(int limit);-->
    <select id="selectHotArticle" parameterType="int" resultType="com.lbm.api.dao.entity.Article">
        SELECT
            id,title
        FROM
            bm_article
        ORDER BY view_counts desc
            LIMIT 0,#{limit}
    </select>
    <select id="getArchives" resultType="com.lbm.api.dao.dos.Archives">
        select
        year(FROM_UNIXTIME(create_date/1000)) year,month(FROM_UNIXTIME(create_date/1000)) month, count(*) count
        from
        bm_article
        group by
        year,month
        order by year desc,month desc

    </select>

    <resultMap id="articleMap" type="com.lbm.api.dao.entity.Article">
        <id column="id" property="id" />
        <result column="author_id" property="authorId"/>
        <result column="comment_counts" property="commentCounts"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="summary" property="summary"/>
        <result column="title" property="title"/>
        <result column="view_counts" property="viewCounts"/>
        <result column="is_weight" property="isWeight"/>
        <result column="body_id" property="bodyId"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>
    <select id="listArticle" resultType="com.lbm.api.dao.entity.Article">
        select * from bm_article
        <where>
                is_publish = 1 and is_deleted= 0
            <if test="tagId != null">
                and id in (select article_id from bm_article_tag where tag_id =#{tagId})
            </if>
            <if test="categoryId != null">
                and category_id =#{categoryId}
            </if>
            <if test="year != null and year.length>0 and month !=null and month.length>0">
                and year(FROM_UNIXTIME(create_date/1000)) =#{year} and month(FROM_UNIXTIME(create_date/1000))=#{month}
            </if>
        </where>
        order by is_weight desc,gmt_create desc
    </select>
    <resultMap id="ArticleSimpleVo" type="com.lbm.api.vo.ArticleSimpleVo">
        <result column="id" property="id" />
        <result column="title" property="title"/>
        <result column="gmt_create" property="gmtCreate"/>
    </resultMap>
    <select id="getSimpleList" resultType="com.lbm.api.dao.entity.Article">
        select id,title,gmt_create from bm_article
        <where>
            is_deleted = 0
            <if test="tagId !=null and tagId !=''">
                and id in (select article_id from bm_article_tag where tag_id =#{tagId})
            </if>
            <if test="categoryId !=null and categoryId !=''">
                and category_id =#{categoryId}
            </if>
        </where>
        order by gmt_create desc
    </select>
    <select id="articleCount" resultType="java.lang.Integer">
        select count(*) from bm_article where is_deleted =0
    </select>
</mapper>